.header {
  margin: 92px 50px 92px 50px; 
  display: grid;
  grid-template-columns: 2fr 1fr 2fr; 
  text-decoration-skip-ink: none; 
}

.header_links-list {
  display: flex; 
  align-items: center; 
}

.header_links-list-main {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.header_links-list-item {
  display: list-item; 
}

.header_links-list-item_no-bullit {
  display: list-item;
}

.header_link_active {
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400; 
  line-height: normal; 
}

.header_link {
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: list-item;
  list-style-type: circle;
  border-bottom: 1px solid black;
}

.header_logo {
  display: grid; 
  align-content: start; 
  width: 138px;
  height: 105px;
}

.header_logo-image {
  display: block; 
  align-content: start;
}

.header_address {
  display: flex;
  align-items: center;
  justify-content: end; 
}

.contacts-element {
  width: 240px;
  padding-right: 3px; 
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  font-style: normal;
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.6px;
}

.mail-address {
  display: flex;
  align-self: flex-start;
  border-bottom: 0.5px solid black;
}

.phone-address {
  display: flex;
  align-self: flex-start;
  border-bottom: 0.5px solid black;
}

.city-address-second {
  display: flex;
}

.city-address-first {
  display: flex;
}

.cover {
  background-image: url(../images/lotus.jpg);
  background-size: cover; 
  background-position: center;
} 

.overlay {
  background-color: rgba(0, 0, 0, 0.6); 
}

.cover_title {
  padding-top: 165px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-transform: uppercase;
  row-gap: 19px;
  grid-template-areas: 
    "start"
    "center"
    "end";
}

.aligned-text_right {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 70px;
  text-align: end;
  grid-area: end;
  margin: 0px 50px 0px 50px;
}

.aligned-text_center {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 100%;
  text-align: center;
  grid-area: center;
  margin: 0px 95px 0px 65px;
  justify-self: center;
}

.aligned-text {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-align: start;
  grid-area: start; 
  line-height: 115%;
  margin: 0px 50px;
}

.bet-button
{
  color: white;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.cover_description {
  display: flex;
  justify-content: space-between; 
  margin: 105px 50px 0px 50px;
  padding-bottom: 50px;
}

.cover_description-text {
  color: white;
  text-align: left;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  padding-left: 372px;
  display: flex;
  align-items: center;
  justify-content: end;
  letter-spacing: 0px;
  word-spacing: 17px; 
}

.bet-button {
  display: flex;
  padding: 12px 32px;
  border: 1px solid white;
  background: none;
}

.lots {
  margin: 180px 50px 0px 50px;
  flex-shrink: 0; 
}

.lots_heading {
  margin-left: 40px; 
  margin-bottom: 27px;
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  width: 430px;
  min-height: 450px;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/scene.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/book.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/picture.jpg);
  background-size: cover;
}

.card_title {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-decoration-skip-ink: none; 
}

.card_text {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  justify-content: space-around; 
}

.lots_look-more-link {
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-left: 40px;
}

.lots_look-more-link-text {
  border-bottom: 1px solid black;
}

.about {
  margin: 180px 50px 184px 50px;
}

.about_column {
  display: grid;
  grid-template-columns: 430px 1fr;
}

.about_logo
{
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: black;
  justify-self: center;
}

.about_logo-image {
  display: grid;
  width: 148px;
  height: 114px;
  align-self: center;
  margin-left: 46px;
}

.about_title-and-text-wrapper {
  margin: 101px 0px 0px 25px;
  display: grid;
  row-gap: 30px;
}

.about_title {
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.about_text {
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

footer {
  margin: 0px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
}

.footer_menu {
  display: grid;
  align-content: start;
  justify-items: center;
  list-style-type: none; 
}

.footer_menu-link {
  display: grid;
  align-self: center;
  color: black;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-skip-ink: none;
}

.footer_menu-link_active {
  border-bottom: none;
}

.footer_social-list {
  list-style-type: none;
  display: flex;
  gap: 48px;
}

.footer_social-list-item-logo
{
  width: 48px;
}
